* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Gill Sans', 'Calibri', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block-one, .header, .header-links {
    display: flex;
}

.block-one, .block-two, .block-three,
.block-four, .footer {
    width: 100%;
    align-items: center;
}

.block-one {
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
}

.header {
    width: 750px;
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: white;
}

.header-links {
    gap: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: lightgrey;
}