* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: lightgrey;
}

/* this section of code takes the following
 form: 1. section x (flex declarations)
2. subsections of section x (width declarations)
lastly, the sections' width as a whole are taken
to fill the width of the screen, and items are aligned
along the cross axis (regardless of future 
orientation) */

.block-one, .header, .header-links,
.hero, .hero-left {
    display: flex;
} 

.header, .hero {
    width: 70%;
} 

.block-two, .examples-header,
.examples-container, .examples-container
.example-one, .example-two, .example-three,
.example-four {
    display: flex;
}

.examples-header, .examples-container {
    width: 70%;
}

.block-three, .quote-container {
    display: flex;
}

.quote-container {
    width: 70%;
}

.block-four, .signup-background
.signup-container, .signup-text {
    display: flex;
}

.signup-background {
    width: 70%;
}

.footer {
    display: flex;
}

.block-one, .block-two, .block-three,
.block-four, .footer {
    width: 100%;
    align-items: center;
}

/* end of section */

.block-one {
    flex-direction: column;
    background-color: #1f2937;
}

.header {
    padding: 10px 0;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: #f9faf8;
}

.header-links {
    gap: 15px;
}

.hero {
    height: 350px;
    align-items: center;
    gap: 20px;
}

.hero-left {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    padding: 10px 0;
}

.hero-main {
    font-size: 36px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-second {
    font-size: 13px;
    color: #e5e7eb;
}

.hero-button {
    border: none;
    border-radius: 8px;
    background-color: #3882f6;
    padding: 6px 24px;
    color: #f9faf8;
}

.block-two {
    height: 350px;
    background-color: #f9faf8;
    flex-direction: column;
    justify-content: flex-start;
}

.examples-header {
    justify-content: center;
    margin: 35px 0;
    font-size: 27px;
    font-weight: 900;
    color: #1f2937;
}

.examples-container {
    justify-content: space-around;
}

.example-one, .example-two,
.example-three, .example-four {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 13px;
    width: 120px;
}

.subtext{
    color: grey;
}

.block-three {
    height: 300px;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: flex-start;
}

.quote-container {
    margin-top: 90px;
    flex-direction: column;
}

.quote {
    font-size: 27px;
    color: #1f2937;
    font-weight: 300;
    align-self: center;
}

.quote-source {
    align-self: flex-end;
    font-size: 18px;
    font-weight: 700;
}

.block-four {
    justify-content: center;
    height: 250px;
    background-color: #f9faf8;
}

.signup-background {
    border: none;
    border-radius: 8px;
    background-color: #3882f6;
    padding: 40px 80px;
}

.signup-container {
    justify-content: space-between;
}

.signup-text {
    color: #f9faf8;
    flex-direction: column;
}

.signup-button {
    border: solid #f9faf8 1.5px;
    padding: 6px 24px;
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 8px;
    align-self: flex-end;
}

.footer {
    height: 75px;
    justify-content: space-between;
    justify-content: center;
    background-color: #1f2937;
}

.footer-text {
    color: #f9faf8;
}